html{
    max-width: 1274px;
    margin: 0 auto;
}
body{
    margin: 0px;
}
header{
    position: relative;
}
main {
    margin-left: 150px;
    margin-right: 150px;
}
.navegador{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 125px;
    padding-right: 125px; 
    margin-right: 10px;
    margin-left: 10px; 
    font-size: 20px; 
}
.slogan{
    width: 75px;
    height: 75px;
}
.image{
    width: auto;
    height: 600px;
    background-image: url(https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/855/public/media/image/2022/06/bmw-x1-2023-2718753.jpg?itok=T03gAo6_);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navegador > a{
    margin: 25px;
    text-decoration: none;
    color: white;
}

.user{
    height: 10px;
    width: auto;
    
}
.separador{
    display: flex;
    flex: 1;
}
h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
}
h2{
    font-size: 15px;
    color: white;
    margin-top: 5px;
}
.publicity{
    
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 350px;
}
.series{
    
    color: #a7a2a2;
}
.publicity > a{
    
    width: 80px;
    padding: 10px;
    background-color: #1b69d5;
    text-decoration: none;
    color: white;
}
.dropdown{
    width: 100%;
    overflow-x: scroll;
    position: relative;
    display: inline-block;
}
.drop-menu{
    background-color: #c2bfbf;
    color: black;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.drop-menu:hover{
    background-color: white;
    font-size: 25px;
}
.icons-car{
    width: 222.25px;
    height: 133.34px;
}

.dropdown-content{
    display: none;
    background-color: white;
    min-width: 160px;
    
   
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-evenly;
    background-color:#e6e6e6;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.container-1{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 215px;
    height: 100px;
    background-color: #e6e6e6;
}
.container-1 > a{
    color: black;
}

.icons-social{
    width: 100%;
}
.news-box{
    max-width: 200px;
    max-height: 400px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    margin-top: 50px;
    
    
}
.news-box > a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.news-box > img{
    width: 192px;
}
.news-social{
    width: 100%;
    max-height: 400px;
    padding: 20px;
    border: 1px solid #e6e6e6;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    
}
.news-social > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.container-footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #e6e6e6;  
  /*   padding-top: 80px;
    padding-bottom: 60px; */
}

.container-footer__1{
    display: flex;
    flex-direction: column; 
    padding-top: 30px;
}
.container-footer__1 > strong{
    margin-bottom: 20px;
}
.container-footer__1 > a{
    text-decoration: none;
    color:#a7a2a2;
}
.politica-empresa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.politica-empresa__links > a{
    text-decoration: none;
    color: #6aa6c9;
    
}
.separator{
    height: 80px;
    display: flex;
    flex:1;
    background-color: #e6e6e6;
    border-bottom: 1px #a7a2a2 solid;
}